#one {
    background-color: #22223b;
}
#two {
    background-color: #4a4e69;
}
#three {
    background-color: #9a8c98;
}

div {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
}