h2 {
    color: #5fcf5f;
    /* hexadecimal color system */
    background-color: rgb(103, 0, 103);
    /*rgb coloring*/
}

button {
    color: darkolivegreen;
    background-color: darkgoldenrod;
}

p {
    background: orange;
}

body {
    background-color: #c5e;
    /* 3 digit hex code */
}