button {
    background-color: aquamarine;
}

#signup {
    background-color:blue;
}

.tag {
    background-color: #d62828;
    color: aquamarine;
    font-size: small;
}

.post a {
    color: #219ebc;
}

footer a {
    color: chocolate;
}