button {
    background-color: aquamarine;
}

#signup {
    background-color:blue;
}

.tag {
    background-color: #d62828;
    color: aquamarine;
    font-size: small;
}

.post a {
    color: #219ebc;
}

footer a {
    color: chocolate;
}

input + button {
    background-color: pink;
}

h2 + button {
    font-size: 10px;
}

footer > a {
    color: aquamarine;
}

input[type='password']{
color: #d62828;
}

a[href*="google"]{
    color: green;
}

.post button:hover {
    background-color: #d62828;
    color: aliceblue;
}

button:active {
    background-color: #219ebc;
}

.post:nth-of-type(3n) {
    background-color: #faedcd;
}



