button {
    background-color: aquamarine;
}

#signup {
    background-color:blue;
}

.tag {
    background-color: #d62828;
    color: aquamarine;
    font-size: small;
}

.post a {
    color: #219ebc;
}

footer a {
    color: chocolate;
}

input + button {
    background-color: pink;
}

h2 + button {
    font-size: 10px;
}

footer > a {
    color: aquamarine;
}