<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guitars</title>
</head>

<body>
    <h1>11 Of The Best Electric Guitar Brands In The World</h1>
    <ul>
    <% for (brand of brands) { %>
    <li><%= brand %></li>
    <% } %>
    </ul>

</body>

</html>