<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <h1>The Home Page <%= 'hello.world'.toUpperCase() %> </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, omnis reiciendis tempore repudiandae magni vel
        totam dolore dolor, expedita, nam error ut cum optio quod? Explicabo harum laudantium pariatur facilis!
        Eligendi, ratione aperiam suscipit architecto voluptatum vero aspernatur adipisci ut commodi nihil consequuntur
        non veniam rerum soluta? Placeat temporibus commodi sunt maxime cumque, fugit blanditiis ipsum animi asperiores,
        repellat odit.
        Necessitatibus quidem et eaque nostrum, harum deleniti itaque ratione eius, aliquam eligendi corrupti quaerat
        sequi molestiae laboriosam consequuntur porro quas voluptatibus unde numquam qui facere. Maxime aliquid ipsam
        corporis nemo.
        Corporis commodi dolore, eaque mollitia fugiat cupiditate blanditiis provident nulla dolor ipsum, quasi in,
        facere delectus recusandae soluta sapiente obcaecati. Nisi quasi incidunt explicabo mollitia, vel assumenda aut
        ex debitis.
        Obcaecati nostrum praesentium vitae iure adipisci voluptas voluptatibus officia, similique doloremque quibusdam
        facere cum dicta dolorum quasi nihil laboriosam sit eligendi. Repudiandae porro cupiditate ipsam neque
        voluptatibus labore deleniti inventore.</p>
</body>

</html>