body {
    margin: 0;
}

#div1 {
    background-color: #ffbe0b;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    box-sizing: border-box;
    margin: 10px;
}

#div2 {
    background-color: #fb5607;
    border-width: 3px;
    border-style: dashed;
    border-color: #588157;
    box-sizing: border-box;
    padding: 10px 20px 0 3px;
    margin: 20px 30px

}

#div3 {
    background-color: #ff006e;
    border: 5px dotted #8338ec; 
    border-left-style: solid;
    border-radius: 5%;
}

div {
    width: 200px;
    height: 200px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
}