h1 {
    font-size: 50px;
    border: 1px solid black;
    line-height: 200%;
}

section {
    height: 600px;
    width: 600px;
    background-color: #e3d5ca;
}

div {
    background-color: #d4a373;
    width: 50%;
    height: 50%;
}

#ems{
    font-size: 30px;
}

#ems h1{
    font-size: 2em;
    margin: 1em;
    padding: 1em;
}

#ems p{
    font-size: 0.5em;
}

#ems button {
    color: white;
    background-color: #2a9d8f;
    border: none;
    border-radius: 0.8em;
    font-size: 1.2em;
    padding: 0 1em;
}

#ems ul{
    font-size: 1.2em;
}

#rems ul {
    font-size: 1.2rem;
}

html {
    font-size: 20px;
}

