h1 {
    text-align: center;
    font-weight: 400;
    text-decoration: #ff8787 wavy underline;
    letter-spacing: 15px;
    font-size: 80px;
    font-family: Nonexisting font, sans-serif, aria;
}

p {
    text-align: right;
    line-height: 2;
}

a {
    text-decoration: none;
}